body {
  margin: 0;
  font-family: $font-family-poppins;
  font-size: 14px;
  color: $black;
}

h1 {
  color: $white;
}
h2 {
  font-weight: 700;
}
h5 {
  font-weight: 700;
}
h4 {
  font-weight: 700;
}
p {
  color: $dim-gray;
  line-height: 1.6;
}
