h1 {
    font-size: 57px;
}

h2 {
    font-size: 29px;
    line-height: 1.4;
    margin-bottom: 32px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

h6 {
    font-size: 14px;
    margin-bottom: 20px;
}