h1 {
    font-size: 57px;
    @include breakpoint(small){
        font-size: 45px;
    }
    @include breakpoint(smaller){
        font-size: 30px;
    }
}

h2 {
    font-size: 29px;
    line-height: 1.4;
    margin-bottom: 32px;
    @include breakpoint(smaller){
        font-size: 20px;
    }
}

h3 {
    font-size: 25px;
    @include breakpoint(smaller){
        font-size: 20px;
    }
}

h4 {
    font-size: 20px;
    @include breakpoint(smaller){
        font-size: 16px;
    }
}

h5 {
    font-size: 17px;
    @include breakpoint(smaller){
        font-size: 12px;
    }
}

h6 {
    font-size: 14px;
    margin-bottom: 15px;
    @include breakpoint(smaller){
        font-size: 11px;
    }
}