.blog-single {
  background-color: $cultured;
  /* site header */
  .site-header {
    position: relative;
    .header-wrapper {
      .logo-wrapper {
        a {
          img {
            filter: invert(1);
          }
        }
      }
      .menu-wrapper {
        .menu-bar {
          a {
            color: $black;
          }
        }
        .search-bar {
          .sr-bl {
            filter: invert(1);
          }
        }
      }
    }
  }
  .article-aside-section {
    /* article-aside sections */
    .blog-article-title {
      padding: 70px 200px;
      font-size: 57px;
    }
    .common-background-blur-title {
      top: -25px;
    }
    .article {
      img {
        width: 100%;
      }
      p {
        a {
          color: $dim-gray;
          text-decoration: none;
          transition: 0.3s ease-in-out;
          &:hover {
            color: $dark-cerulean;
          }
        }
      }

      blockquote {
        position: relative;
        left: 10px;
        font-weight: 700;
        &:before {
          content: "";
          width: 50px;
          height: 2px;
          color: black;
          background-color: black;
          display: block;
          transform: rotate(90deg);
          position: absolute;
          left: -35px;
          bottom: 20px;
          opacity: 0.5;
        }
      }
      a {
        color: $white;
        text-decoration: none;
        &:nth-child {
          margin-right: 10px;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.bg-simple {
  color: $white;
  background-color: $black;
  padding: 5px 10px;
  font-size: 11px;
  transition: 0.3s ease-in-out;
  &:hover {
    background-color: $dark-cerulean;
    color: $white;
  }
}
