.blog {
    background-color: $cultured;

    .site-header {
        position: relative;

        .header-wrapper {
            .logo-wrapper {
                a {
                    img {
                        filter: invert(1);
                    }
                }
            }

            .menu-wrapper {
                .menu-bar {
                    a {
                        color: $black;
                    }
                }

                .search-bar {
                    .sr-bl {
                        filter: invert(1);
                    }
                }
            }
        }
    }
    .blog-single{
        .news-wrapper{
            .mr-blog-bottom{
                padding-bottom: 115px;
            }
            .article-cards{
            margin-bottom: 50px;
            }
            a{
                display: inline-block;
            }
        }
    }
    
}