.about-page {
  background-color: $cultured;

  /* site header */
  .site-header {
    .site-wrapper {
      a {
        img {
          filter: invert(1);
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;

      .menu-search-wrapper {
        display: flex;
        align-items: center;

        .menu {
          .menu-list {
            display: flex;
            margin: 0;

            li {
              list-style-type: none;
              padding-right: 20px;

              a {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: $black;
                text-decoration: none;
              }
            }
          }
        }


        .search-bar {
          .secondary {
            display: block;
            border: 1px solid $black;
            padding: 11px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            line-height: 1;
            font-size: 12px;
            color: $black;
            transition: 0.3s ease-in-out;

            &:hover {
              color: $white;
              background-color: $dark-cerulean;
              background: $dark-cerulean;border: 1px solid $white;
            }
          }
        }
      }
    }
  }

  /* site header */
  .about-banner {
    position: relative;

    h2 {
      padding: 85px 75px;
      font-size: 57px;
      color: $black;
      font-family: 700;
    }

    .common-background-blur-title {
      top: -100px;
      right: 120px;
      z-index: -1;
    }

    .about-page-img-wrapper {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .about-section {
    padding: 115px 0;
  }

  /* team section */
  .team-section {
    background-color: $white;
    padding-top: 115px;

    .common-background-blur-title {
      top: -50px;
    }

    .team-wrapper {
      h2 {
        max-width: 450px;
      }
    }
  }
}