/* main heading button */

.male-bl-button {
  color: $white;
  font-size: 11px;
  font-weight: 700;
  background: transparent;
  padding: 15px 38px;
  border: 1px solid $white;
  text-decoration: none;
  @include breakpoint(small){
    padding: 12px 20px;
  }
  &:hover {
    color: $cultured;
    background-color: $dark-cerulean;
  }
}
.wh {
  color: $black;
  border: 1px solid $black;
  &:hover{
    background-color: $dark-cerulean;
    color: $white;
    border: 1px solid $white;
  }
}

/* border radius */
.br{
  padding: 8px 16px;
}

/* simple black and white buttons */
.bg-simple {
  color: $white;
  background-color: $black;
  padding: 5px 10px;
  font-size: 11px;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    background-color: $dark-cerulean;
    color: $white;
  }
}


/* learn more button */
.lr-more {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-top: 45px;
  @include breakpoint(medium){
      margin-right: auto;
      margin-left: 0;
  }
}


/* search cross button */
.cross-btn {
  position: relative;
  z-index: 5;
  font-size: 14px;
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: 0px;
  top: 0;
  &:hover {
    color: white;
    background-color: $dark-cerulean;
  }
}

/* search button header */

.search-btn {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  color: $white;
  width: 40px;
  height: 40px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid $white;

  right: 0;
  top: 0;

  &:hover {
    color: white;
    background-color: $dark-cerulean;
  }
}

/* white search button */

.srch-wh{
  border: 1px solid $black;
  color: $black;
}