.wh {}

.male-bl-button {
    color: white;
    font-size: 11px;
    font-weight: 700;
    background: transparent;
    padding: 20px 50px;
    border: 1px solid white;
    text-decoration: none;
    &:hover{
        background-color: $cultured;
        color: $dark-cerulean;
      }
}