.male-bl-button {
  color: $white;
  font-size: 11px;
  font-weight: 700;
  background: transparent;
  padding: 18px 40px;
  border: 1px solid $white;
  text-decoration: none;
  @include breakpoint(small){
    padding: 12px 20px;
  }
  &:hover {
    color: $cultured;
    background-color: $dark-cerulean;
  }
}
.wh {
  color: $black;
  border: 1px solid $black;
  &:hover{
    background-color: $dark-cerulean;
    color: $white;
    border: 1px solid $white;
  }
}

.br{
  padding: 8px 16px;
}

/* simple black and white buttons */
.bg-simple {
  color: $white;
  background-color: $black;
  padding: 5px 10px;
  font-size: 11px;
  transition: 0.3s ease-in-out;
  text-decoration: none;

  &:hover {
    background-color: $dark-cerulean;
    color: $white;
  }
}