/* common section title for sections */

.common-section-title {
  font-weight: 700;
  text-transform: uppercase;
  color: $dark-cerulean;
}

/* common background blur title for section */
.common-background-blur-title {
  position: absolute;
  top: -130px;
  right: 125px;
  opacity: 0.02;

  span {
    font-size: 300px;
    font-weight: 700;
  }
}

/* common language site banner */
.lang {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  padding-left: 10px;
  display: inline;
  margin: 0;
}

/* search button */
.sr-bl {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  padding: 20px;
  border-radius: 50%;
  color: $white;
}

/* popular wrapper for card title in pricing section*/

.popular {
  position: relative;
  overflow: hidden;

  &::before {
    content: "Popular";
    position: absolute;
    font-weight: 700;
    top: 22px;
    left: -35px;
    background: #0f4c81;
    padding: 8px 50px;
    font-size: 11px;
    color: $white;
    transform: rotate(-45deg);
  }
}

/* class form field */
.field {
  width: 100%;
  padding: 20px;
  background-color: $cultured;
  border: none;
  margin-bottom: 20px;

  &:focus {
    outline: none;
  }
}

.bg-wh {
  background-color: $white;
}

.cr-wh{
  color: $white;
}


/* white logo */
.white-img {
  img {
    filter: invert(1);
  }
}

/* white achnor tag */
.white-li {
  a {
    color: white;
  }
}