.container {
  max-width: 1200px;
}



.common-section-title {
  h6 {
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-cerulean;
  }
}

.common-section-heading {
}

.common-nav-list-heading {
}
