.common-section-title {
  font-weight: 700;
  text-transform: uppercase;
  color: $dark-cerulean;
}

.lang {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  padding-left: 10px;
  display: inline;
  margin: 0;
}

.common-background-blur-title {
  position: absolute;
  top: -130px;
  right: 125px;
  opacity: 0.02;

  span {
    font-size: 300px;
    font-weight: 700;
  }
}

/* search button */
.sr-bl {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  padding: 20px;
  border-radius: 50%;
  color: $white;
}

.op {
  opacity: 0.5;
}

/* popular wrapper */

.popular {
  position: relative;
  overflow: hidden;

  &::before {
    content: "Popular";
    position: absolute;
    font-weight: 700;
    top: 22px;
    left: -35px;
    background: #0f4c81;
    padding: 8px 50px;
    font-size: 11px;
    color: $white;
    transform: rotate(-45deg);
  }
}

/* class form field */
.field {
  width: 100%;
  padding: 20px;
  background-color: $cultured;
  border: none;
  margin-bottom: 20px;

  &:focus {
    outline: none;
  }
}

.bg-wh {
  background-color: $white;
}

/* rows and col adjustments */

/* search icons home */
.secondary {
  display: block;
  border: 1px solid $black;
  padding: 11px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 1;
  font-size: 12px;
  color: $black;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $white;
    background-color: $dark-cerulean;
    background: $dark-cerulean;
    border: 1px solid $white;
  }
}

/* site-header  */
.secondary-page {
  .site-header {
    .site-wrapper {
      .site-menux {
        img {
          filter: invert(0);
        }

        .menu-search-bar {
          .menu {
            .menu-list {
              li {
                a {
                  color: $black;

                  &:hover {
                    color: $white;
                    background-color: $dark-cerulean;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.white-img {
  img {
    filter: invert(1);
  }
}

.white-li {
  a {
    color: white;
  }
}

/* search button */
.search {
  &.search-open-close {
    .overlay {
      left: 0;
      opacity: 1;
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.95);
  transition: 0.3s all;

  .container {
    width: 100%;
    height: 100%;

    .overlay-wrapper {
      padding: 5px 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .search-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
      }

      .overlay-content {
        display: inline-flex;
        justify-content: center;

        form {
          position: relative;

          input {
            padding: 10px;
            width: 700px;

            @include breakpoint(medium) {
              width: 400px;
            }

            @include breakpoint(smaller) {
              width: 350px;
            }

            @include breakpoint(extrasmall) {
              width: 250px;
            }

            &:focus {
              outline: none;
            }
          }

          a {
            cursor: pointer;
            position: absolute;
            top: 13px;
            right: 14px;
          }
        }
      }

      .search-bottom {
        display: flex;
        justify-content: space-between;

        p {
          color: $white;
        }

        a {
          text-decoration: none;
        }
      }
    }
  }
}

.search-btn {
  position: relative;
  z-index: 10;
  font-size: 14px;
  background-color: white;
  color: black;
  width: 40px;
  height: 40px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  
  right: 0;
  top: 0;


  &:hover {
    color: white;
    background-color: $dark-cerulean;
  }
}