.about-page {
  background-color: $cultured;

  /* site header */
  .site-header {
    position: relative;
    z-index: 1;
    .site-wrapper {
      a {
        img {
          filter: invert(1);
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;

      .menu-search-wrapper {
        display: flex;
        align-items: center;

        .menu {
          @include breakpoint(medium) {
            display: none;
          }

          .menu-list {
            display: flex;
            margin: 0;

            li {
              list-style-type: none;
              padding-right: 20px;

              a {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: $black;
                text-decoration: none;
                cursor: pointer;
                padding: 5px;
                transition: 0.3s ease-in-out;
                &:hover {
                  color: $white;
                  background-color: $dark-cerulean;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
    }
  }

  /* site header */
  .about-banner {
    position: relative;

    h2 {
      font-size: 57px;
      color: $black;
      font-family: 700;
      padding: 165px 90px 75px;
      @include breakpoint(medium) {
        padding: 0;
        font-size: 40px;
      }
      @include breakpoint(extrasmall) {
        
        font-size: 20px;
      }
    }

    .common-background-blur-title {
      top: -15px;
      right: 120px;
      z-index: -1;
    }

    .about-page-img-wrapper {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .about-section {
    padding: 115px 0;
  }

  /* team section */
  .team-section {
    background-color: $white;
    padding-top: 115px;

    .common-background-blur-title {
      top: -50px;
    }

    .team-wrapper {
      h2 {
        max-width: 450px;
      }
    }
  }
}
