.blog {
    background-color: $cultured;

    .site-header {
        position: relative;
        .site-wrapper {
          .site-menux {
            .logo {
              img {
                filter: invert(1);
              }
            }
          }
        }
      }
    .blog-single {
        .news-wrapper {
            .rows {
                margin-bottom: 60px;

            }

            .mr-blog-bottom {
                padding-bottom: 115px;
            }

            .article-cards {
                margin-bottom: 50px;
            }

            a {
                display: inline-block;
            }
        }
    }

}