.blog {
    background-color: $cultured;


    .blog-single {
        .news-wrapper {
            .rows {

                margin-bottom: 60px;

            }

            .mr-blog-bottom {
                padding-bottom: 115px;
            }

            .article-cards {
                margin-bottom: 50px;
            }

            a {
                display: inline-block;
            }
        }
    }

}