.services-page {
  background-color: $cultured;
  /* site header */
  .site-header {
    background: $white;
   
  }
  /* video section */
  .service-section {
    .service-heading {
      max-width: 750px;
      padding: 165px 90px 75px;
      @include breakpoint(medium){
        padding: 0;
      }
      h2 {
        font-size: 57px;
        @include breakpoint(medium){
          font-size: 30px;
        }
      }
    }
    .common-background-blur-title {
      top: 0px;
      right: 110px;
    }
    background-color: $white;
  }
  /* pricing section */
  .brands-section {
    background-color: $white;
    position: relative;
    a {
      position: absolute;
      bottom: 30px;
      right: 140px;
    }
  }
}
