body {
  &.expand {
    margin-top: 2px;
    .site-header {
      background-color: $black;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .site-wrapper {
        .site-menux {
          .logo {
            img {
              filter: invert(0);
            }
          }
          .menu-search-bar {
            .menu {
              ul {
                transition: 0.4s ease-in;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                position: absolute;
                top: 175px;
                right: 95px;
                opacity: 1;
              }
              li {
                padding-bottom: 10px;
              }
            }
            .ham-menu {
              span {
                &:nth-child(1) {
                  transform: rotate(45deg) translateX(5px) translateY(5px);
                }
                &:nth-child(2) {
                  opacity: 0;
                }
                &:nth-child(3) {
                  transform: rotate(135deg) translateX(-5px) translateY(5px);
                }
              }
            }
          }
        }
      }
      .mobile-bottom {
        transition: 0.2s ease-in;
        display: block;
        position: absolute;
        top: 215px;
        left: 90px;
        opacity: 1;
      }
    }
  }
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  .site-wrapper {
    .site-menux {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .menu-search-bar {
        display: flex;
        align-items: center;
        .menu {
          ul {
            
            margin: 0;
            right: -150px;
            display: flex;

            @include breakpoint(medium) {
              opacity: 0;
              display: none;
            }
            li {
              list-style-type: none;
              padding-left: 20px;

              a {
                text-decoration: none;
                color: $white;
                font-weight: 700;
                font-size: 16px;
                padding: 5px;
                border-radius: 5px;
                @include breakpoint(medium) {
                  font-size: 12px;
                }
                &:hover {
                  background-color: $white;
                  color: $dark-cerulean;
                }
              }
            }
          }
        }
        .overlay{
          display: none;
        }
        .openBtn{
          display: block;
          background: $white;
          border-radius: 50%;
          padding: 10px;
          line-height: 1;
          color: $black;
          &:hover {
            color: $white;
            background-color: $dark-cerulean;
          }
        }
        // .search {
        //   padding-left: 10px;
        //   .search-here {
        //     display: block;
        //     background: white;
        //     border-radius: 50%;
        //     padding: 10px;
        //     line-height: 1;
        //     color: $black;
        //     &:hover {
        //       color: $white;
        //       background-color: $dark-cerulean;
        //     }
        //   }
        //   input{
        //     display: none;
        //   }
        // }
        .ham-menu {
          margin-left: 10px;
          display: none;
          background: $white;

          padding: 8px;
          border-radius: 50%;
          span {
            display: block;
            background-color: $black;
            width: 20px;
            height: 2px;
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          @include breakpoint(medium) {
            display: block;
          }
        }
      }
    }
    .mobile-bottom {
      position: absolute;
      left: -500px;
      opacity: 0;
      .location {
        margin-bottom: 135px;
        p {
          color: $white;
        }
        a {
          color: $white;
          text-decoration: none;
        }
      }
      .site-header-bottom {
        display: flex;
        p {
          color: $white;
        }
        .language {
          margin-left: 215px;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}


.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}