.site-header {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  z-index: 1;
  margin: 0 -2px;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-wrapper {
      a {
        img {
          @include adjust-width;
        }
      }
    }

    .menu-search-wrapper {
      display: flex;
      align-items: center;

      .menu {

        .menu-list {
          display: flex;
          margin: 0;
          padding: 0;
        }

        li {
          padding: 0 10px;
          @include bullet-off;

          a {
            @include underline-off;
            font-size: 13px;
            transition: 0.4s all;
            &:hover {
              color: $dark-cerulean;
            }

            text-transform: uppercase;
            color: $white;
            font-weight: 700;
          }
        }
      }
    }
  }

  .search-button {
    padding-left: 20px;
    .search-svg-wrapper {
      a {
        @include tr-sc;
      }
      img {
        filter: invert(1);
      }
      .modal {
        border-color: none;
        .modal-content {
          background-color: $black;
          .modal-header {
            a {
              filter: invert(1);
            }
          }
          .modal-body {
            .input-group {
              display: unset;
              img {
                filter: none;
              }
              .form-outline {
                display: flex;
                align-items: center;
                padding: 250px;
                input {
                  margin-right: 10px;
                }
                a {
                  padding: 8px;
                  border: 1px solid #ffffff;
                  max-width: 30px;
                  transition: all 0.2s ease-in-out;
                  &:hover {
                    transform: scale(1.2);
                  }
                  img {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-backdrop {
  position: unset;
}
