body {
  &.expand {
    .site-header {
      .site-wrapper {
        display: flex;
        flex-direction: column;

        .site-header-top {
          display: flex;
          justify-content: space-between;

          .menu-search-ham {
            display: flex;
            align-items: center;

            .search {
              a {
                display: block;
                color: $white;
                border: 1px solid $white;
                border-radius: 50%;
                padding: 10px;
                line-height: 1;
              }
            }

            .ham-menu {
              padding-left: 20px;



              span {
                display: block;
                background-color: $white;
                width: 20px;
                height: 2px;
                margin-bottom: 5px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        .site-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 130px 0;

          .location {
            p {
              color: $white;
              font-size: 15px;
            }

            a {
              text-decoration: none;
              color: $white;
              font-size: 15px;
            }
          }

          .menu {
            .menu-list {
              text-align: end;

              li {
                list-style-type: none;
                padding: 2px 0;

                a {
                  font-size: 25px;
                  font-weight: 700;
                  color: $white;
                  text-decoration: none;
                }
              }
            }
          }
        }

        .site-header-bottom {
          display: flex;
          justify-content: space-between;

          p {
            color: $white;
            font-size: 13px;
          }

          .language {
            a {

              font-size: 12px;
              text-transform: uppercase;
              text-decoration: none;

            }
          }
        }
      }
    }
  }
}



.site-header {
  background-color: $black;
  padding: 30px 0;

  .site-wrapper {
    display: flex;
    flex-direction: column;

    .site-header-top {
      display: flex;
      justify-content: space-between;

      .menu-search-ham {
        display: flex;
        align-items: center;

        .menu-head {
          @include breakpoint(medium) {
            display: none;
          }

          .menu-head-list {
            display: flex;
            margin: 0;

            li {
              padding-left: 20px;
              list-style-type: none;

              a {
                color: $white;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
              }
            }
          }
        }

        .search {
          padding-left: 20px;

          a {
            display: block;
            color: $white;
            border: 1px solid $white;
            border-radius: 50%;
            padding: 10px;
            line-height: 1;
          }
        }

        .ham-menu {
          padding-left: 20px;
          display: none;

          @include breakpoint(medium) {
            display: block;
          }
        }

        span {
          display: block;
          background-color: $white;
          width: 20px;
          height: 2px;
          margin-bottom: 5px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .site-list {
    display: none;
  }

  .site-header-bottom {
    display: none;
  }
}