.article-section {
  position: relative;
  background-color: $cultured;
  padding: 115px 0 140px;
  z-index: 1;

  .common-background-blur-title {
    top: -82px;
    z-index: -1;
  }

  .rows {
    margin: 0 -18px;

    .cols {
      padding: 0 18px;
      margin: 0 0 30px;
    }
  }

  .article-wrapper {
    .article-cards {
      .article-img {
        height: 250px;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      .article-arrow {
        img {
          @include tr-tf;
        }
      }
    }
    a{
      display: block;
      width: fit-content;
      margin-left: auto;
    }
  }
}