.article-section {
  position: relative;
  background-color: $cultured;
  padding: 115px 0 140px;
  z-index: 1;

  .common-background-blur-title {
    top: -82px;
    z-index: -1;
  }

  .rows {
    margin: 0 -18px;
    .cols {
        padding: 0 18px;
    }
}
  
}
