.contact-section {
  position: relative;
  z-index: 1;
  padding: 120px 0;

  .common-background-blur-title {
    top: -43px;
    z-index: -1;
  }

  .contact-wrapper {
    .common-section-heading {
      max-width: 600px;
    }

    .rows {
      margin: 0 -18px;

      .cols {
        padding: 0 18px;
        margin: 0 0 30px;
      }
    }

    .contact-card-wrapper {
      height: 100%;
      background: white;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 30px 35px;


      img {
        padding-bottom: 18px;
      }

      h4 {
        padding-bottom: 5px;
      }

      p {
        line-break: auto;
      }

      a {
        color: $dim-gray;
        text-decoration: none;

      }
    }




    .form-wrapper {
      position: relative;
      margin: 115px auto 0;
      max-width: 780px;

      .form-background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
          width: 100%;
          height: 100%;
        }
      }

      h3 {
        font-weight: 700;
        padding-bottom: 20px;
      }

      p {
        max-width: 550px;
        padding-bottom: 20px;
      }



      .field {
        width: 100%;
        padding: 20px;
        background-color: $cultured;
        border: none;
        margin-bottom: 20px;

        &:focus {
          outline: none;
        }
      }

      .wh {
        display: block;
        width: fit-content;
      }

    }

    .scroll-top {
      display: block;
      width: fit-content;
      margin-left: auto;
    }
  }


}