.about-section {
  background-color: $cultured;
  margin-bottom: 115px;
  .about-wrapper {
    position: relative;

    .about-tab-wrapper {
      margin-bottom: 15px;

      .rows {
        margin: 0;
        @include breakpoint(medium) {
          margin: 0;
        }

        .cols {
          padding: 0;
        }
      }

      .tab-wrapper {
        h2 {
          font-size: 31px;
          margin-bottom: 16px;
        }

        .common-section-heading {
          padding-bottom: 30px;
        }

        .about-signature-box {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          img {
            max-width: 100px;
            max-height: auto;
            @include breakpoint(extrasmall) {
              max-width: 70px;
            }
          }

          .signature-content {
            padding-left: 40px;
            margin-top: 10px;

            .designation-of-company {
              color: $dim-gray;
            }
          }
        }
      }

      .about-paragraph {
        p {
          font-size: 15.25px;
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .tab-list-wrapper {
    .nav {
      a {
        cursor: pointer;
        font-size: 14px;
        color: $black;
        font-weight: 700;
        background: none;
        @include breakpoint(smaller) {
          font-size: 10px;
        }
      }

      .nav-link {
        border: 0;
        border-radius: 0;
      }
    }

    .nav-tabs {
      border-top: var(--bs-nav-tabs-border-width) solid
        var(--bs-nav-tabs-border-color);
      border-bottom: 0;
    }
  }
}
