.about-section {
  background-color: $cultured;

  .about-wrapper {
    position: relative;

    .about-tab-wrapper {
      margin-bottom: 15px;

      .tab-wrapper {
        h2{
          padding-bottom: 24px;
        }
        .common-section-heading {
          padding-bottom: 30px;
        }

        .about-signature-box {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          img {
            max-width: 100px;
            max-height: auto;
          }

          .signature-content {
            padding-left: 40px;
            margin-top: 10px;

            .designation-of-company {
              color: $dim-gray;
            }
          }
        }
      }
      .about-paragraph{
        p{
          padding-bottom: 15px;
          &:last-child{
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .tab-list-wrapper {
    padding: 0 0 1px;

    .nav {
      justify-content: center;

      a {
        cursor: pointer;
        padding: 35px 40px;
        font-size: 14px;
        color: $black;
        font-weight: 700;
      }

      .nav-link {
        border: 0;
        border-radius: 0;
      }
    }

    .nav-tabs {
      border-top: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
      border-bottom: 0;
    }
  }
}

