.team-section {
  padding-top: 45px;
  padding-bottom: 90px;
  position: relative;
  

  .common-background-blur-title {
    position: absolute;
    top: -130px;
    right: 125px;
    opacity: 0.02;
    z-index: -1;

    span {
      font-size: 300px;
      font-weight: 700;
    }
  }

  h2 {
    max-width: 450px;
  }

  .rows {
    margin: 0 -18px;

    @include breakpoint(medium) {
      margin: 0;
    }

    .cols {
      padding: 0 18px;

      @include breakpoint(medium) {
        margin-bottom: 30px;
      }
    }

    
  }
}
