.team-section {
  padding-top: 45px;
  padding-bottom: 90px;
  position: relative;
  z-index: 1;

  .common-background-blur-title {
    position: absolute;
    top: -130px;
    right: 125px;
    opacity: 0.02;
    z-index: -1;

    span {
      font-size: 300px;
      font-weight: 700;
    }
  }


  h2 {
    max-width: 450px;
  }

  .rows {
    margin: 0 -18px;

    .cols {
      padding: 0 18px;
    }


    .team-members {
      height: 100%;

      .team-member-img {
        position: relative;
        max-width: 100%;

        margin-bottom: 16px;


        &:hover .team-card-title {
          opacity: 1;
        }

        img {
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .team-card-title {
          position: absolute;
          width: 100%;
          bottom: 18px;
          left: 18px;
          max-width: 160px;
          padding: 12px;
          text-align: center;
          background-color: $dark-cerulean;
          transition: 0.3s ease-in-out;
          color: white;
          opacity: 0;

          h6 {
            margin: 0;
          }
        }
      }

      p {
        margin-bottom: 5px;
      }

      .team-social-media-icons {
        .social-media-icons-list {
          padding: 0;
          display: flex;

          li {
            list-style-type: none;
            padding-right: 15px;

            a {
              text-decoration: none;
              display: block;
              padding: 5px;
              width: 15px;
              transition: 0.4s ease-in-out;

              &:hover {
                transform: scale(1.2);
              }

              img {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }
  }
}