.pricing-section {
  position: relative;
  padding: 115px 0;

  background-color: $cultured;

  .common-background-blur-title {
    top: -55px;
    z-index: -1;
  }

  .pricing-wrapper {
    .rows {
      margin: 0 -24px;
      @include breakpoint(medium) {
        margin: 0;
      }
      .cols {
        padding: 0 24px;
        @include breakpoint(medium) {
          margin-bottom: 30px;
        }
      }
    }

    

    a {
      display: inline-block;
    }
  }
}
