.pricing-section {
  position: relative;
  z-index: 1;
  padding: 115px 0;
  background-color: $cultured;

  .common-background-blur-title {
    top: -55px;
    z-index: -1;
  }

  .rows {
    margin: 0 -18px;

    .cols {
      padding: 0 18px;
      margin: 0 0 30px;
    }
  }

  .pricing-wrapper {
    .common-section-title {
      padding-bottom: 10px;
    }

    h2 {
      padding-bottom: 15px;
    }


    .pricing-card {
      height: 100%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      padding: 40px 25px;
      background-color: $white;
      text-align: center;
      @include tr-sc;
      h6 {
        padding-bottom: 20px;
      }

      .price {
        .subscript {
          position: relative;
          top: -32px;
          font-size: 18px;
          left: -5px;
          color: #0f4c81;
          color: $dark-cerulean;
        }

        .rate {
          position: relative;
          font-size: 60px;
          font-weight: 700;
          color: $dark-cerulean;
        }
      }

      .price-plans {
        ul {
          list-style-type: none;
          padding: 0;

          li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #dad7d7;

            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}