.banner-section {
  //   background-image: url(/assests/img/article-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $dim-gray;
  .banner-wrapper {
    padding: 330px 0px 380px 0;
    .content-wrapper {
      .main-heading {
        max-width: 900px;
        padding-bottom: 15px;
      }
      .main-heading-paragraph {
        max-width: 750px;
        padding-bottom: 55px;
        p {
          color: $white;
        }
      }
      .main-button {
        display: inline-block;
      }
    }
    .down-arrow {
      margin-top: 70px;
    }
  }
}
