.banner-section {
  // background-image: url(/assests/img/article-3.jpg);
  // background-color: grey;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-color: $dim-gray;
  position: relative;
  width: 100%;
  height: 100%;
  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .banner-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 245px 0 125px 0;
    .content-wrapper {
      margin: 0 100px;
      max-width: 550px;

      .main-heading {
        padding-bottom: 15px;
      }

      .main-heading-paragraph {
        padding-bottom: 55px;

        p {
          color: $white;
        }
      }

      .main-button {
        display: inline-block;
      }
    }

    .banner-lower-part {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 115px;
      .language {
        display: flex;
      }
    }
  }
}
