.brands-section {
  .brands-wrapper {
    padding: 70px 0;
    display: flex;
    .balkan {
        img {
            width: 150px;
        }
      }
    .advetis {
      img {
        width: 135px;
        margin: 0 15px 0 0;
      }
    }
    .swinger {
        img {
          width: 145px;
        }
      }
      .mandala{
        width: 140px;
        margin: 0 15px 0 0;
      }
  }
}
