.services-section {
    background-color: $cultured;
  .services-wrapper {
    
    position: relative;
    bottom: 50px;
    .available-services {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: $white;
        padding: 35px;
      .available-services-img {
        padding-bottom: 20px;
        img {
          width: inherit;
        }
      }
      .available-services-title {
        padding-bottom: 5px;
        h5 {
          font-weight: 700;
        }
      }
    }
  }
}
